.layout__main {
  border: 1px solid #ccc;
  height: fit-content;
}

.author-logo {
  border-radius: 50%;
  height: 48px;
  margin-right: 10px;
}

.tweet {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.tweet .header {
  display: flex;
}

.author-name {
  color: #0f1419;
  font-weight: 700;
  margin-right: 10px;
}

.author-link {
  color: #536471;
  margin-right: 10px;
}

.time {
  color: #536471;
}

.tweet-content a {
  color: #1d9bf0;
  text-decoration: none;
}

.tweet-content a:hover {
  text-decoration: underline;
  color: #1d9bf0;
}

.tweet-image {
  margin-top: 10px;
  border-radius: 15px;
  width: 90%;
  height: 350px;
}

.tweet-main {
  width: 100%; /*Very imp(Remove and see the change)*/
}

.tweet-content ul {
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.mytweet {
  padding: 10px;
}

.mytweet-main {
  display: flex;
  align-items: center;
}
#mytweetlist {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: 40px;
  width: 240px;
}

.mytweet {
  border-bottom: 1px solid #ccc;
}

.mytweet i {
  color: #1d9bf0;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.mytweetbutton {
  margin-right: 20px;
  background-color: #1d9bf0;
  border-radius: 20px;
  padding: 7px;
  width: 50px;
  text-align: center;
  color: white;
  font-weight: 700;
}

.main-footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  position: sticky;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  height: 30px;
  padding-top: 12px;
}
