.layout__left-sidebar {
  margin-left: 40px;
}

.layout__leftside-menu {
  position: fixed;
  padding: 15px;
}
/* .layout__rightside-menu {
  position: fixed;
} */

.layout__leftside-menu i {
  margin-bottom: 25px;
}
.leftmenu-item .icon {
  font-size: 20px;
  margin-right: 20px;
}

.leftmenu-item {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 9px;
  font-size: 20px;
}

.leftmenu-button {
  padding: 15px;
  width: 175px;
  border-radius: 25px;
  background-color: rgb(29, 155, 240);
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.leftmenu-item:hover {
  background-color: rgba(240, 237, 237, 0.806);
  border-radius: 40px;
  width: fit-content;
}

.leftmenu-button:hover {
  filter: grayscale(10%);
  cursor: pointer;
  width: 175px;
}

.--active {
  font-weight: bold;
}
