.layout__main {
  border: 1px solid #ccc;
  height: fit-content;
}

.author-logo {
  border-radius: 50%;
  height: 48px;
  margin-right: 10px;
}

.tweet {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.tweet .header {
  display: flex;
}

.author-name {
  color: #0f1419;
  font-weight: 700;
  margin-right: 10px;
}

.author-link {
  color: #536471;
  margin-right: 10px;
}

.time {
  color: #536471;
}

.tweet-content a {
  color: #1d9bf0;
  text-decoration: none;
}

.tweet-content a:hover {
  text-decoration: underline;
  color: #1d9bf0;
}

.tweet-image {
  margin-top: 10px;
  border-radius: 15px;
  width: 90%;
  height: 350px;
}

.tweet-main {
  width: 100%; /*Very imp(Remove and see the change)*/
}

ul {
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
