.layout__rightside-menu {
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  width: 350px;
  padding: 15px;
}

.trends {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.04);
}

.layout__rightside-menu .blocks {
  padding: 10px;
  border-radius: 15px;
}

.meta-info {
  color: #536471;
  font-size: 13px;
}

.trendname {
  color: #0f1419;
  font-weight: 700;
  font-size: 15px;
}

.layout__rightside-menu .blocks:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
