.who-to-follow {
  margin-top: 15px;
  background-color: #eaebec;
  border-radius: 15px;
}

.who-to-follow-image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 5px;
}

.who-to-follow-blocks {
  display: flex;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}

.who-to-follow-blocks .button {
  width: 80px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px;
  position: absolute;
  right: 25px;
}

.who-to-follow-blocks:hover {
  background-color: #ccc;
}

.who-to-follow-slug {
  color: #536471;
}

.who-to-follow-name {
  font-weight: 700;
}
